<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<mat-grid-list cols="8" style="background-color: aqua;"></mat-grid-list>

<div class="teste">
  <form action="POST">
    <h1>Login</h1>
    <div class="campo">
      <p>Username</p>
      <app-app-input></app-app-input>
    </div>
    <div class="campo">
      <p>E-mail</p>
      <app-app-input></app-app-input>
    </div>
    <div class="campo">
      <p>Senha</p>
      <app-app-input></app-app-input>
    </div>
    <app-button [enviar]="cadastrar"></app-button>
    <app-button [enviar]="limpar"></app-button>
  </form>

</div>

